html,
body {
    height: 100%;
}

body {
    padding-bottom: 20px;
    background-color: #EEE;
}

.body-content {
    min-height: 100%;
}

hr{
    border-top: 1px solid #DDD;
}

h1{
    color:#EA804C;
}

h2{
    color: #EA804C;
}

a{
    color:#A69A90;
}

.header{
    padding:30px;
    background-color:#4A403D;
}

.header .nav-pills > li.active > a {
    background-color:#EA804C;
    color:black;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.offre{
    padding: 20px;
    margin: 10px;
    border: 2px solid #DDD;
    border-radius:10px;
    background-color:white;
}

.offre .titre{
    text-align:center;
}

.offre .favori{
    text-align:center;
    color:#EA804C;
    cursor:pointer;
}

#sort-asc, #sort-desc{
    cursor:pointer;
    vertical-align:middle;
}

#sort-asc{
    height:20px;
}
#sort-desc{
    height: 45px;
}

.btn-primary, .btn-primary:focus, .btn-primary:hover, .btn-primary:active:hover{
    background-color:#EA804C;
    border-color:#4A403D;
}

.filters-sidebar {
    position: fixed;
}

.info-message {
    font-size: 150%;
    text-align: center;
    color: darkred;
}

.offers-filters label,
#all-offers {
    margin-bottom: .5em;
}

.offers-sorting input {
    margin-right: .5em;
}

.nav > li > a {
    font-size: 130%;
    color: wheat;
}

.nav > li > a:hover {
    color: black;
}

label::first-letter {
    text-transform: uppercase;
}

footer {
    height: 35px;
    line-height: 35px;
    background-color: rgb(245, 245, 245);
    width: 100%;
    text-align: center;
}

footer > p {
    margin-bottom: 0;
}

#custom-tag-input {
    margin-right: 25px;
}

.remove-custom-tag {
    color: darkred;
}

.create-account {
    font-size: 160%;
    text-decoration: underline;
    color: inherit;
}