@model DreamJob.ViewModels.HomeViewModel

@{
    if (Model.ListeDesCustomTags.Any())
    {
        <ul>
            @foreach (var tag in Model.ListeDesCustomTags)
                {
                <li>@tag.label <span class="remove-custom-tag fa fa-times" data-id="@tag.id"></span></li>
            }
        </ul>
    }
    else
    {
        <p>Vous n'avez pas de filtre personnalisé</p>
    }
}
